/* Footer.css */

.footer {
  background-color: #282727;
  padding: 40px 0;
  color: #ffffff;
}

.footer-info h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-info p {
  margin-bottom: 5px;
}

.footer-social h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.social-icons a {
  color: #ffffff;
  font-size: 20px;
  margin-right: 10px;
}

.footer-text {
  margin-top: 20px;
  font-size: 14px;
  color: #ffffff;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .footer-info,
  .footer-social {
    margin-bottom: 20px;
  }
}
