/* .icon-tabler {
  color: #03dac6;
  width: 32px;
  height: 32px;
  stroke-width: 1.25;
} */

.icon-tabler-prompt {
  color: #03dac6;
  width: 25px;
  height: 25px;
  stroke-width: 2;
  align-items: center;
  justify-content: center;
}

.icon-tabler-terminal-2 {
  color: #03dac6;
  width: 32px;
  height: 32px;
  stroke-width: 2;
  align-items: center;
  justify-content: center;
}

.icon-tabler-brand-github {
  color: #ffffff;
  width: 30px;
  height: 30px;
  stroke-width: 1.25;
}

.icon-tabler-brand-github-footer {
  color: #03dac6;
  width: 32px;
  height: 32px;
  stroke-width: 1.25;
}

.icon-tabler-external-link {
  color: #ffffff;
  width: 30px;
  height: 30px;
  stroke-width: 1.25;
}

.icon-tabler-external-link-footer {
  color: #03dac6;
  width: 32px;
  height: 32px;
  stroke-width: 1.25;
}

.icon-tabler-brand-linkedin {
  color: #03dac6;
  width: 32px;
  height: 32px;
  stroke-width: 1.25;
}
.icon-tabler-brand-linkedin {
  color: #03dac6;
  width: 32px;
  height: 32px;
  stroke-width: 1.25;
}

.icon-tabler-brand-instagram {
  color: #03dac6;
  width: 32px;
  height: 32px;
  stroke-width: 1.25;
}

.icon-tabler-brand-twitter {
  color: #03dac6;
  width: 32px;
  height: 32px;
  stroke-width: 1.25;
}
