.nav p,
.slider p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 5vw;
  margin: 0;
  padding-bottom: 0.5rem;
  letter-spacing: 0.5rem;
  color: #03dac6;
  transition: all 0.3s ease;
  z-index: 3;
}

p {
  display: block;
  color: #03dac6;
  font-family: "Josefin Sans", sans-serif;
}

p:hover {
  /* transform: translate3d(0, -5px, 10px); */
  color: #ff0266;
}
