.projects {
  background-color: #000000;
  padding: 100px 0;
  color: #ffffff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.section-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 40px;
}

.projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}

.project-card {
  background-color: #000000;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 4px #00877e;
}
.project-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 20px;
}

.project-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.project-description {
  font-size: 16px;
  line-height: 1.6;
}

.project-tech {
  font-size: 14px;
  color: #ffffff;
  margin-top: 10px;
}
.project-tech span {
  font-size: 14px;
  color: #03dac6;
  margin-top: 10px;
}

.project-links {
  display: flex;
}

.project-links a {
  margin-right: 10px;
  /* height: 40px; */
  background-color: #03dac6;
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.project-links a:hover {
  background-color: #00877e;
  color: #fff;
  cursor: pointer;
}
/* .project-icons :hover {
  color: white;
  cursor: pointer;
} */

@media (max-width: 768px) {
  .projects-list {
    grid-template-columns: 1fr;
  }

  .project-card {
    padding: 10px;
  }

  .project-links {
    flex-wrap: wrap;
  }

  .project-links a {
    margin-bottom: 10px;
  }
}
