.technologies {
  background-color: #000000;
  padding: 100px 0;
  color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.section-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 40px;
  color: white;
}

.technology-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.technology-item {
  background-color: #03dac6;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  font-size: 16px;
}

.technology-item:hover {
  background-color: red;
}
